
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}
@model   IEnumerable<Example_Repository_Pattern.DAL.ORM.Entity.Concrete.Article>

    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header">
                        <h4 class="box-title">List of Article</h4>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Header</th>
                                    <th>Content</th>
                                    <th>Category Name</th>
                                    <th>Author Name</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Header</td>
                                        <td>@item.Content</td>
                                        <td>@item.Category.Name</td>
                                        <td>@item.AppUser.FirstName @item.AppUser.LastName</td>
                                        <td><a href="/Admin/Article/Update/@item.ID" type="button" class="btn btn-block btn-warning">Update</a></td>
                                        <td><a href="/Admin/Article/Delete/@item.ID" type="button" class="btn btn-block btn-danger">Delete</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>